:root {
	--tile-size: 10em;
}

body {
	font-family: Comfortaa, Helvetica, Arial, sans-serif;
}

nav,
.grid {
	position: fixed;
	left: 1em;
	/*left: calc(50% - 49.5em);*/
	left: calc(50% - 39.5em);
}

nav {
	top: 0;
	width: 81em;
	color: rgba(0, 0, 0, 0.87);
}

nav header {
	padding: 6em 1em;
	height: 10em;
	font-weight: normal;
}

nav header::before {
	font-size: 5.6em;
	content: attr(data-text);
}

nav .number {
	box-sizing: border-box;
	position: absolute;
	right: 0;
	top: 5em;
	display: block;
	width: 20em;
	height: 10em;
	padding: 2em;
	border-radius: 2em;
}

nav .number.score {
	right: 22em;
}

nav .number::before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	font-size: 1.95em;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.54);
	font-weight: bold;

	content: attr(data-label);
}

nav .number::after {
	position: absolute;
	left: 0;
	top: 0.60em;
	width: 100%;
	font-size: 4.2em;
	font-weight: normal;

	content: attr(data-number);
}

.grid {
	/*top: 1em;*/
	/*top: 21em;*/
	top: 18em;
}

.empty {
	position: absolute;
	width: 9em;
	height: 9em;
	border-radius: 0.75em;
	background: whitesmoke;
}

.cleared-line {
	position: absolute;
	width: 9em;
	height: 9em;
	border-radius: 0.75em;
	background: black;
	opacity: 0;
}

.piece {
	position: absolute;
}

.tile {
	position: absolute;
	background: inherit;
	width: 9em;
	height: 9em;
	border-radius: 0.75em;
}

.fixed.piece .tile:first-child,
.fixed.piece .tile:last-child {
	background-image: url('../img/fixed-tile.svg');
	background-position: 50% 50%;
	background-size: 4em;
	background-repeat: no-repeat;
}

.tile.border-top {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.tile.border-bottom {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.tile.border-left {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.tile.border-right {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.tile .top,
.tile .bottom,
.tile .left,
.tile .right {
	position: absolute;
	background-color: inherit;
	width: 1.25em;
	height: 1.25em;
}

.tile .top,
.tile .bottom {
	width: 100%;
}

.tile .top {
	bottom: 100%;
}

.tile .bottom {
	top: 100%;
}

.tile .left,
.tile .right {
	height: 100%;
}

.tile .left {
	right: 100%;
}

.tile .right {
	left: 100%;
}

#hint {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 79em;
	height: 99em;
	line-height: 99em;
	background: rgba(255, 255, 255, 0.31);
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#hint header {
	font-size: 4.2em;
	line-height: inherit;
	text-align: center;
}

.touch#hint header {
	font-size: 7.2em;
}

#end {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 79em;
	height: 99em;
	background: rgba(255, 255, 255, 0.87);
}

#end header {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 9em;
	line-height: 9em;
	text-align: center;
	font-size: 5.6em;
}

#end button {
	position: absolute;
	bottom: 0;
	display: block;
	padding: 0;
	width: 40em;
	height: 40em;
	font-size: 1em;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}

#end button .icon {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 80%;
	background-position: 50% 50%;
	background-size: 10em;
	background-repeat: no-repeat;
	transition: transform 0.1s;
}

#end button .icon:hover {
	transform: scale(1.15);
}

#end button .icon:active {
	transform: scale(0.85);
}

#end button label {
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 40%;
	font-family: Comfortaa, Helvetica, Arial, sans-serif;
	font-size: 3.2em;
	font-weight: bold;
}

#end button.undo {
	left: 0;
}

#end button.undo .icon {
	background-image: url('../img/undo.svg');
}

#end button.new {
	right: 0;
}

#end button.new .icon {
	background-image: url('../img/new.svg');
}